<!--breadcrumb-->
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
  <div class="breadcrumb-title pe-3">Tables</div>
  <div class="ps-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-0 p-0">
        <li class="breadcrumb-item"><a href="#" (click)="$event.preventDefault()"><i class="bx bx-home-alt"></i></a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Espace ADMIN</li>
      </ol>
    </nav>
  </div>
  <div class="ms-auto">
    <div class="btn-group">
      <button type="button" class="btn btn-primary">Settings</button>
      <button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">	<span class="visually-hidden">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">
        <a class="dropdown-item" href="#" (click)="$event.preventDefault()">Action</a>
        <a class="dropdown-item" href="#" (click)="$event.preventDefault()">Another action</a>
        <a class="dropdown-item" href="#" (click)="$event.preventDefault()">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#" (click)="$event.preventDefault()">Separated link</a>
      </div>
    </div>
  </div>
</div>
<!--end breadcrumb-->
<div class="col-md-8">
  <div class="form-group">
    <label>Search </label>
    <input type="text" class="form-control" (input)="onSearch($event.target.value)">
  </div>

<div class="row">
  <div class="col-xl-12 mx-auto">
    <h6 class="mb-0 text-uppercase">User Management</h6>
    <hr/>


    <div class="card">
      <div class="card-body">
        <table class="table mb-0 table-dark table-striped">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">id</th>
            <th scope="col">username</th>
            <th scope="col">firstname</th>
            <th scope="col">lastname</th>
            <th scope="col">email</th>
            <th scope="col">address</th>
            <th scope="col">cin</th>
            <th scope="col">telNum</th>
            <th scope="col">roles</th>
            <th scope="col">dayOfBirth</th>
            <th scope="col">ActionD</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users; let i = index" [class.active]="user === selectedUser" (click)="onSelect(user)">
            <td>{{ i + 1 }}</td>
            <td>{{ user.Userid}}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.firstname }}</td>
            <td>{{ user.lastname }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.address }}</td>
            <td>{{ user.cin }}</td>
            <td>{{ user.telNum }}</td>
            <td>{{ user.roles }}</td>
            <td>{{ user.dayOfBirth }}</td>
            <td><a href="javascript:void(0)"><i class='fa fa-edit f-12'></i></a>&nbsp;
              <a href="javascript:void(0)" (click)="deleteById(user.id)">delete</a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
<!--end row-->


